.Skills {
  background-color: var(--white);
}

.SkillsCard {
  margin: 1.75em 0;
  color: var(--mainCol--light);
}

.SkillsCard-Heading h3 {
  background: var(--secCol);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.SkillsCard ul {
  line-height: 1.75em;
  margin-left: 0.75em;
  border-left: solid 1px var(--gray);
}

.SkillsCard li {
  margin-bottom: 16px;
}