.Hero {
  display: flex;
  align-items: center;
  background: var(--linGrad-2);
  padding: 10rem 0;
}

.HeroHeading {
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
  word-wrap: break-word;
}

.HeroHeading h1 {
  font-size: 2.5em;
  color: var(--mainCol);
}

.HeroHeading h1:last-of-type {
  color: var(--mainCol--light);
  ;
}

.HeroHeading h3 {
  font-size: 1.5em;
  color: var(--white);
}