.Hero {
  background: var(--linGrad-2);
  min-height: 40vh;
}

.HeroHeading {
  padding: 12% 0 12% 20%;
}

.HeroHeading h1 {
  font-size: 2.5em;
  color: var(--mainCol);
}

.HeroHeading h1:last-of-type {
  color: var(--mainCol--light);
  ;
}

.HeroHeading h3 {
  font-size: 1.5em;
  color: var(--white);
}


/* TODO: Random hero */
.Hero svg {
  position: absolute;
  top: 264px;
  left: 94px;
  z-index: 2;
}

#donut-icing {
  fill: #FA9CB6;
  transition: fill 3s ease-out;
}

#donut:hover #donut-icing {
  fill: #4a8af4;
}