.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 40vh;
  overflow: hidden;
  background: var(--linGrad-2);
}

.Hero--bg {
  /* TODO: Bacground diagnol bottom border */
  /* background-color: var(--theme-1);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-6deg);
  transform-origin: top left; */
}

.HeroHeading {
  margin-top: 32px;
  position: relative;
}

.HeroHeading h1 {
  font-size: 2.5em;
  color: var(--theme-2);
  /* background: var(--linGrad-webkit-1); */
/* -webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}

.HeroHeading h3 {
  margin-left: 2px;
  font-size: 1.5em;
  color: var(--gray);
}