@font-face {
  font-family: "Roboto";
  src: url("../font//Roboto-Bold.woff2") format("woff2"),
    url("../font//Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  src: url("../font//Roboto-Italic.woff2") format("woff2"),
    url("../font//Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Roboto";
  src: url("../font//Roboto-Regular.woff2") format("woff2"),
    url("../font//Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

:root {
  --theme-1: #183661;
  --theme-2: #1c4b82;
  /* 1c4b82 */
  --theme-3: #dd6b4d;
  --theme-4: #df9785;

  --linGrad-1: linear-gradient(var(--theme-1), var(--theme2));
  --linGrad-webkit-1: -webkit-linear-gradient(top left, #183661, #1c4b82);
  --linGrad-2: linear-gradient(to top right, var(--theme-3), var(--theme-4));

  --gray: #dae1e7;
  --white: #ffffff;
  --font: "Roboto", sans-serif;
}


html,
body {
  margin: 0 auto;
  font-family: var(--font);
  font-size: 16px;
  background-color: var(--gray);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 auto;
  font-weight: normal;
  line-height: 1.25em;

}

p {
  line-height: 1.75em;
}

section {
  min-height: 65vh;
  padding: 32px 100px;
}