.Heading {
  /* color: var(--theme-3); */
  background: var(--linGrad-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: solid 1px var(--gray);
  line-height: 1.75em;
  font-size: 1.5em;
  text-transform: uppercase;
}