:root {
  --main-color: rgb(45, 128, 196);
  --gray: rgb(244, 244, 244);
  --white: #fff;


}

body {
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
}

section {
  min-height: 65vh;

}

.Hero {
  background-color: var(--main-color);
}

.HeroText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.HeroText h1 {
  padding: 8px;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--main-color);
}

.Facts {
  background-color: var(--gray);

}

.Skills {
  background-color: var(--white);

}

.Projects {
  background-color: var(--main-color);
}

.Contact {
  background-color: var(--main-color);
}