.HeaderNav--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* .HeaderNav-Wrapper{
  position: sticky;
  width: 100%;
  height: 60px;
  background: var(--linGrad-1);
  -webkit-box-shadow: 2px 9px 21px -4px #777;
  -moz-box-shadow: 2px 9px 21px -4px #777;
  box-shadow: 2px 9px 21px -4px #777;
} */

.HeaderNav-Placeholder {
  height: 60px;
  display: none;
}

.displayPlaceholder {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  height: 60px;
  background: var(--linGrad-1);
  -webkit-box-shadow: 2px 9px 21px -4px #777;
  -moz-box-shadow: 2px 9px 21px -4px #777;
  box-shadow: 2px 9px 21px -4px #777;

}

.HeaderNav-Links {
  margin-right: 3em;
}

.HeaderNav-Logo {
  margin-left: 2%;
}

.random-test {
  -webkit-transform: rotate(-90deg) scale(0.2);
  -moz-transform: rotate(-90deg) scale(0.2);
  -ms-transform: rotate(-90deg) scale(0.2);
  transform: rotate(-90deg) scale(0.2);
  transition-timing-function: ease-in-out;
  transition: 0.3s;
}

.HeaderNav-Logo svg {
  width: 198px;
  height: 198px;
  transform: rotate(90deg);

}

nav a {
  color: var(--secCol--light);
  text-transform: uppercase;
  margin-right: 1em;
}