
.hkpVis-container {
	margin: 10em 0;
}
.hkpVis-main {
	position: relative;
}

#hkpVis-map {
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.hkpVis-trigger {
	height: 500px;
  transition: ease-in-out 500ms;
}
.hkpVis-spacing {
	height: 50px;
}

#hkpVis-map circle {
	/* transition-timing-function: ease-out;
  transition: 0.25s; */
}