.hkpVis-section {
    position: relative;
    background: lightblue;
    opacity: 0;
    height: 800px;
    margin: 0;
    transition: ease-in-out 500ms;
}

#hkpVis-map {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.hkpVis-mapCircle {
    position: absolute;
    z-index: 1;
}

