<footer>
  <div class="FooterNav-Wrapper">
    <nav class="FooterNav">
      {{/*  TODO: Loop through this in config menu.social  */}}
      <a href="mailto:ehao.dev@gmail.com">ehao.dev@gmail.com</a>
      <span class="FooterNav-Social">
        <a href="https://www.linkedin.com/in/ernie-hao/"> 
          <svg><use xlink:href="/img/icons.svg#linkedin"></use></svg>
        </a>
        <a href="https://github.com/ernie-h"> 
          <svg><use xlink:href="/img/icons.svg#github"></use></svg>
        </a>
      </span>
    </nav>
  </div>
</footer>