.HeaderNav--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.HeaderNav-Placeholder {
  height: 60px;
  display: none;
}

.displayPlaceholder {
  display: block;
}

.HeaderNav-Links {
  margin-right: 3em;
}

.HeaderNav-Logo {
  margin-left: 2%;
}

.random-test {
  -webkit-transform: rotate(-90deg) scale(0.2);
  -moz-transform: rotate(-90deg) scale(0.2);
  -ms-transform: rotate(-90deg) scale(0.2);
  transform: rotate(-90deg) scale(0.2);
  transition-timing-function: ease-in-out;
  transition: 0.3s;
}

.HeaderNav-Logo svg {
  width: 198px;
  height: 198px;
  transform: rotate(90deg);
}

.HeaderNav a {
  color: var(--secCol--light);
  text-transform: uppercase;
}
.HeaderNav nav a:hover {
  color: var(--secCol);
}

/* TODO: Do hamburger menu */
@media (max-width: 740px) {
  .HeaderNav-Links {
    display: none;
  }
}
