<section class="Facts">
	<div class="FactsDescription">
		<p>
			{{/* TODO: Needs revision */}}
			Here, you will learn about my skills, projects and journey as a software engineer.
			I've been coding since my high school years and have developed a great respect for software through my
			studies, peers, and coworkers.
			I've been fortunate enough to have worked at great companies where I've received amazing mentorships from
			exceptional engineers.
			Feel free to browse my site and don't hesitate to reach out!
		</p>
	</div>
</section>