<section class="Projects">
	<div class="Heading">Projects</div>
	{{/*  <div class="ProjectCards">  */}}
		{{ $paginator := .Paginate (where .Pages "Type" "projects") }}
		{{ range $paginator.Pages }}
		<a href="{{ .URL }}">
			<div class="ProjectCard">
				<img src="{{.Params.cardImg }}">
				<div class="ProjectCard-Text">
					<h3>{{ .Title }}</h3>
					<p>{{ .Description }}</p>
					<span class="ProjectCard-Tags">
						<h5>TAGS:</h5>
						{{ range .Site.Taxonomies.tags }}
						<a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>,
						{{ end }}
					</span>
				</div>
			</div>
		</a>
		{{ end }}
	{{/*  </div>  */}}
</section>