.Card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  width: 100%;
  display: flex;
}

.Card img {
  max-width: 300px;
  height: auto;
  margin: 0 32px 32px 0;
  border-radius: 4px;
}

.Card-Text {
  border-bottom: var(--gray) solid 1px;
  padding-bottom: 1.75em;
  max-width: 370px;
}

.Card-Text h3 {
  color: var(--secCol);
  font-weight: bold;
  font-size: 1.5em;
}

.Card-Text p {
  color: var(--mainCol--light);
}

.Card-Text span {
  color: gray;
}

.Card-Terms h5 {
  margin: 1.25em 0 0.75em;
  color: var(--secCol);
  font-size: 0.75em;
}

.Card-Tag {
  background: pink;
  font-size: 0.75em;
}
.Card-Category {
  background: lightblue;
  font-size: 1em;
}
